matlab/sys/ahformatter/hyphenation/hyphenation-ah.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This DTD for AH Formatter -->

<!ELEMENT hyphenation-info (hyphen-char?, hyphen-min?, exceptions?, non-eol-words?)>

<!ELEMENT hyphen-char EMPTY>
<!ATTLIST hyphen-char value CDATA #REQUIRED>

<!ELEMENT hyphen-min EMPTY>
<!ATTLIST hyphen-min before CDATA #REQUIRED>
<!ATTLIST hyphen-min after  CDATA #REQUIRED>

<!ELEMENT exceptions (#PCDATA|hyphen)* >

<!ELEMENT hyphen EMPTY>
<!ATTLIST hyphen pre  CDATA #IMPLIED>
<!ATTLIST hyphen no   CDATA #IMPLIED>
<!ATTLIST hyphen post CDATA #IMPLIED>

<!ELEMENT non-eol-words #PCDATA>
