matlab/sys/namespace/mcode/v1/syntaxhighlight.dtd

<!-- ...................................................................... -->
<!-- MathWorks Syntax Highlighting v1.0     ............................... -->
<!-- File syntaxhighlight.dtd ............................................. -->

<!-- 

This DTD shall be identified with the namespace:
http://www.mathworks.com/namespace/mcode/v1/syntaxhighlight.dtd 
-//MathWorks//MATLAB Syntax Highlighting v1.0

Copyright 1984-2004 The MathWorks, Inc.
  

-->

<!ELEMENT mwsh:code (#PCDATA | keywords | strings | comments | unterminated_strings | system_commands)* >
<!ATTLIST mwsh:code xml:space (default|preserve) 'preserve'>

<!ELEMENT mwsh:keywords (#PCDATA) >
<!ATTLIST mwsh:keywords xml:space (default|preserve) 'preserve'>

<!ELEMENT mwsh:strings (#PCDATA) >
<!ATTLIST mwsh:strings xml:space (default|preserve) 'preserve'>

<!ELEMENT mwsh:comments (#PCDATA) >
<!ATTLIST mwsh:comments xml:space (default|preserve) 'preserve'>

<!ELEMENT mwsh:unterminated_strings (#PCDATA) >
<!ATTLIST mwsh:unterminated_strings xml:space (default|preserve) 'preserve'>

<!ELEMENT mwsh:system_commands (#PCDATA) >
<!ATTLIST mwsh:system_commands xml:space (default|preserve) 'preserve'>
